In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv('gdrive/My Drive/AIML/movies_metadata.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df1.shape

(45466, 24)

In [6]:
df1[['overview','tagline','budget',"genres"]].head()

                                            overview  ...                                             genres
0  Led by Woody, Andy's toys live happily in his ...  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  When siblings Judy and Peter discover an encha...  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  A family wedding reignites the ancient feud be...  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  Cheated on, mistreated and stepped on, the wom...  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4  Just when George Banks has recovered from his ...  ...                     [{'id': 35, 'name': 'Comedy'}]

[5 rows x 4 columns]

In [0]:
df1['tagline'] = df1['tagline'].fillna('')

In [8]:
df1['description'] = df1['overview'] + df1['tagline']
df1.head(1)

   adult  ...                                        description
0  False  ...  Led by Woody, Andy's toys live happily in his ...

[1 rows x 25 columns]

In [9]:
df1.shape

(45466, 25)

In [10]:
df1[["overview","tagline","description"]].head()

                                            overview  ...                                        description
0  Led by Woody, Andy's toys live happily in his ...  ...  Led by Woody, Andy's toys live happily in his ...
1  When siblings Judy and Peter discover an encha...  ...  When siblings Judy and Peter discover an encha...
2  A family wedding reignites the ancient feud be...  ...  A family wedding reignites the ancient feud be...
3  Cheated on, mistreated and stepped on, the wom...  ...  Cheated on, mistreated and stepped on, the wom...
4  Just when George Banks has recovered from his ...  ...  Just when George Banks has recovered from his ...

[5 rows x 3 columns]

In [11]:
df1.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                      0
title                        6
video                        6
vote_average                 6
vote_count                   6
description                954
dtype: int64

In [0]:
#We have 954 null values in the description field

In [0]:
df1.dropna(subset=['description'], inplace=True)

In [13]:
df1.description.isna().sum()

0

In [14]:
df1.shape

(44512, 25)

In [0]:
df1.drop_duplicates(subset=['title'], keep='first', inplace=True)

In [16]:
df1.shape

(41372, 25)

In [0]:
df1.reset_index(drop=True, inplace=True) #Index has been reset without disturbing the existing column shape by adding the parameter has drop = True

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer    #term frequency inverse document frequency
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english') #min_df = 0.007 altered due to memory issue
tfidf_matrix = tf.fit_transform(df1['description'])
print(tfidf_matrix)

  (0, 1126726)	0.11233766834628615
  (0, 643575)	0.11233766834628615
  (0, 581976)	0.11233766834628615
  (0, 1442903)	0.11233766834628615
  (0, 2185713)	0.11233766834628615
  (0, 263399)	0.11233766834628615
  (0, 1757708)	0.11233766834628615
  (0, 337272)	0.11233766834628615
  (0, 263359)	0.11233766834628615
  (0, 1516369)	0.11233766834628615
  (0, 2185717)	0.11233766834628615
  (0, 896905)	0.11233766834628615
  (0, 87094)	0.11233766834628615
  (0, 1502102)	0.11233766834628615
  (0, 1194138)	0.11233766834628615
  (0, 51985)	0.11233766834628615
  (0, 1722784)	0.11233766834628615
  (0, 1156858)	0.11233766834628615
  (0, 263384)	0.11233766834628615
  (0, 239892)	0.11233766834628615
  (0, 198821)	0.11233766834628615
  (0, 87007)	0.11233766834628615
  (0, 1689112)	0.11233766834628615
  (0, 880561)	0.11233766834628615
  (0, 1168574)	0.11233766834628615
  :	:
  (41371, 802865)	0.1414267623753692
  (41371, 192000)	0.13211877826835347
  (41371, 1303580)	0.10843628334018819
  (41371, 451336)	0.10922642784978556
  (41371, 2060573)	0.10391793814776853
  (41371, 19146)	0.10598796327108893
  (41371, 1039113)	0.10922642784978556
  (41371, 121644)	0.1414267623753692
  (41371, 802848)	0.11407432534821799
  (41371, 1285979)	0.0963639979380552
  (41371, 105289)	0.10142402013159109
  (41371, 662379)	0.13004875314503309
  (41371, 15662)	0.0889836622879676
  (41371, 15651)	0.08777772327593575
  (41371, 18966)	0.08811136981804465
  (41371, 1631223)	0.08027465078763663
  (41371, 301134)	0.06768116673855888
  (41371, 802502)	0.07871919369535842
  (41371, 504962)	0.0909191762781425
  (41371, 528677)	0.06333787566360202
  (41371, 934110)	0.10631155923080227
  (41371, 1283078)	0.05595718166952893
  (41371, 701543)	0.0846990894259574
  (41371, 2180766)	0.05965952084698328
  (41371, 2212786)	0.04842143949960357

In [19]:
tfidf_matrix.shape

(41372, 2237767)

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_idf_vect = TfidfVectorizer(analyzer='word',ngram_range=(1,3),stop_words='english', min_df = 0)
tf_idf_vect.fit(df1['description'])
title_matrix_2 = tf_idf_vect.transform(df1["description"])

In [21]:
title_matrix_2.shape

(41372, 2237767)

In [0]:
from sklearn.metrics.pairwise import cosine_similarity

In [0]:
cosine_sim_titles = cosine_similarity(title_matrix_2)

In [24]:
cosine_sim_titles.shape

(41372, 41372)

In [25]:
cosine_sim_titles

array([[1.        , 0.00318748, 0.        , ..., 0.        , 0.00148433,
        0.        ],
       [0.00318748, 1.        , 0.00753371, ..., 0.01049871, 0.00433914,
        0.00167192],
       [0.        , 0.00753371, 1.        , ..., 0.        , 0.0027614 ,
        0.        ],
       ...,
       [0.        , 0.01049871, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.00148433, 0.00433914, 0.0027614 , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.00167192, 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [0]:
def recommend(title_id,cosine_sim_titles):
          return df1['title'].iloc[np.flip(np.argsort(cosine_sim_titles[title_id,]),axis=0)[1:11]]

In [33]:
title_id = df1.loc[df1['title'] == 'The Dark Knight Rises']['title'].index
print("\n Recomment movies for The Dark Knight Rises \n")
recommend(title_id[0],cosine_sim_titles)

 Recomment movies for The Dark Knight Rises

12041                                      The Dark Knight
149                                         Batman Forever
1311                                        Batman Returns
3042                          Batman: Mask of the Phantasm
583                                                 Batman
20234                      Batman: Mystery of the Batwoman
14858                           Batman: Under the Red Hood
8966                    Batman Beyond: Return of the Joker
23685                                    Batman vs Dracula
20042    Batman Unmasked: The Psychology of the Dark Kn...
Name: title, dtype: object

In [34]:
title_id = df1.loc[df1['title'] == 'The Godfather']['title'].index
print("\n Recomment movies for The Godfather \n")
recommend(title_id[0],cosine_sim_titles)

 Recomment movies for The Godfather

40138    The Godfather Trilogy: 1972-1990
1162               The Godfather: Part II
29583                    Honor Thy Father
21784                          Blood Ties
11574          The Cave of the Yellow Dog
34854            A Mother Should Be Loved
17426                     The Outside Man
10925                    Household Saints
4259                                 Made
29                         Shanghai Triad
Name: title, dtype: object